/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFBF4;
}
/* Define styles for h1 */
h1 {
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2px;
}

/* Define styles for h2 */
h2 {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
}

/* Define styles for h3 */
h3 {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.26px;
}

img {
    max-width: 150px;
}

/* Body styles */
body {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust column widths as needed */
    grid-column-gap: 30px; /* Adjust horizontal spacing */
    margin: 20px; 
    
}

hr {
    border-color: #000; /* Sets the color of the horizontal rule to black (#000) */
}

/* Header styles */
.header {
    grid-column: 1; /* Adjust the column as needed */
    padding: 20px;
    
}


.post {
    grid-column: 2 / span 3; ;
    max-width: 586px;
    /* justify-self: center;  */
    padding-bottom: 50px;
    line-height: 150%;
    
}

.rightSide {
    
    margin: -20px;
    background-color: #85A48C;
    grid-column: 5;
    height: 100vh;
    top: 0; /* Position it at the top of the viewport */
    bottom: 0; /* Stretch it to the bottom of the viewport */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
.postFooter {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; 
}

.date, .link {
    margin: 0; /* Remove default margins */
}

.link {
    height: 20px;
    padding-top: 2px;
}

.iframe {

}